@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: var(--fontFamily);
}

html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--colorE);
}

:root {
    /* Font */
    --fontFamily: 'Raleway', sans-serif;
    --fontWeight-h1_5: 700; 
    --fontWeight-h2: 600; 
    --fontWeight-p: 500; 
    --fontWeight-p1-p2: 400; 
    --fontSize-h1_5: 45px; 
    --fontSize-h2: 34px; 
    --fontSize-p: 27px; 
    --fontSize-p1: 22px; 
    --fontSize-p2: 20px; 

    /* Color */
    --colorA: #C3E14D;
    --colorB: #EFE766;
    --colorC: #191507;
    --colorD: #817870;
    --colorE: #F3EAE8;
    --color1: #0C3439;
    --color2: #1D688B;
    --color3: #D37455;
    --color4: #D9BF7B;
    --color5: #E8E8C1;
    --colorDiv: #DEDCF0;
}
h2{
    font-size: var(--fontSize-h1_5);
    font-weight: var(--fontWeight-h1_5);
    color: var(--color2);
}
h3{
    font-size: var(--fontSize-h2);
    font-weight: var(--fontWeight-h2);
}
.p{
    font-size: var(--fontSize-p);
    font-weight: var(--fontWeight-p);
}
.p1{
    font-size: var(--fontSize-p1);
    font-weight: var(--fontWeight-p1-p2);
}

a{
    text-decoration: none;
    color: #000;
}

/* linea divisora -solo agregar width- */
.linea{
    border: rgba(41, 39, 39, 0.87) solid 1.5px;
    background-color: rgba(41, 39, 39, 0.87);
}

/* boton */
button.boton{
    background-color: var(--colorB);
    font-size: var(--fontSize-p);
    padding: 10px 25px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    font-weight: var(--fontWeight-h2);
}

/* div-ondas */
div.div-ondas{
    margin: 100px 0 -94px 0;
    /* padding-bottom: 30px; */
}
div.div-ondas .div{
    background-color: var(--colorDiv);
    padding: 40px 100px 40px;
}
.ondas img{
    width: 100%;
}
.ondas.top img{
    margin-bottom: -5px;
}

/* HEADER */
header{
    background-color: var(--color1);
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
}
.logo-header{
    cursor: pointer;
}
header div {
    margin-left: 30px;
}
header nav ul{
    position: relative;
    top: 30%;
}
header nav li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    font-size: var(--fontSize-p1);
    font-weight: var(--fontWeight-p1);
}

header nav li a{
    color: #fff;
}
.linkActivado{
    font-weight: 900;
}

/* MAIN */
/* portada */
div.portada{
    background: linear-gradient(0deg, rgba(6, 22, 64, 0.31), rgba(6, 22, 64, 0.31)), url(../assets/img/jpg-png/portada.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.portada div#logo-portada img{
    margin: 35px 0 26px;
}
div.portada h1{
    margin-bottom: 22px;
    text-align: center;
    color: var(--color5);
    font-size: var(--fontSize-h1_5);
    font-weight: var(--fontWeight-h1_5);
}

/* quienes somos */
div.div.div-quienes-somos{
    padding-bottom: 170px;
}
.div-quienes-somos section{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.div-quienes-somos section .mision-vision{
    width: 45%;
    margin: 20px 0 0 40px;
}
.div-quienes-somos section .mision-vision div{
    margin-bottom: 30px;
}
.div-quienes-somos section .mision-vision div p{
    font-size: var(--fontSize-p1);
    margin-left: 13px;
    margin-top: 3px;
}
.div-quienes-somos a{
    display: block;
    margin: 50px auto 0;
    width: 180px;
}

footer section{
    background-color: var(--color1);
    color: #fff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 100px);
    align-items: center;
    justify-items: center;
}

footer section .logo-footer{
    grid-column: 1/2;
    grid-row: 1/2;
}
footer section .redes-sociales{
    grid-column: 2/4;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 78%;
}
footer section .redes-sociales div img{
    margin-right: 20px;
}

footer section #copyright{
    margin-top: 30px;
    grid-column: 1/4;
    grid-row: 2/3;
    display: flex;
    justify-content: space-around;
    width: 100%;
}



/* ----------- PAG SERVICIOS ----------- */
/* MAIN */
/* servicios */
#servicios{
    margin-top: 0;
}
.div.servicios h2{
    margin-top: 80px;
}
.div.servicios section{
    display: flex;
    justify-content: space-between;
}
.div.servicios section div:first-child{
    margin: 55px 0 0 75px;
    width: 40%;
}
.div.servicios ul.p{
    margin: 10px 0 0 45px;
}
.div.servicios section a{
    display: inline-block;
    margin: 85px 0 0 170px;
    text-align: center;
}
/* avaluos */
#anclaje-avaluos{
    margin-top: 250px;
    padding-bottom: 1px;
}
.avaluosContendedor{
    display: flex;
    margin: 25px 20px 180px 120px;
    min-height: 602px;
}
.avaluosContendedor h2{
    color: #000;
}
.listaAvaluos{
    background-color: var(--color3);
    /* border: 23px solid rgba(102, 99, 99, 0.73); */
    outline: 23px solid rgba(102, 99, 99, 0.73);
    border-radius: 75px;
    width: 350px;
    text-align: center;
    margin-right: 40px;
    max-height: 602px;
}
.listaAvaluos ul{
    list-style: none;
    /* margin-bottom: 10px; */
    margin-top: 16px;
}
.listaAvaluos ul li{
    background-color: var(--colorDiv);
    border-bottom: solid 1px rgba(59, 56, 56, 0.363);
    /* padding: 15px 0; */
}
.listaAvaluos ul li:hover{
    transition-property: border-bottom;
    transition-duration: .2s;
    transition-timing-function: linear;
    border-bottom: solid 1px rgba(59, 56, 56, 0.863);
    cursor: pointer;
}
.listaAvaluos ul li p{
    padding: 15px 0;
}
.conceptoAvaluos{
    margin-left: 80px;
    padding: 30px;
    width: 60%;
}
.conceptoAvaluos h2{
    border-bottom: rgba(41, 39, 39, 0.87) solid 2px;
    display: block;
    width: fit-content;
}
.conceptoAvaluos .informacion{
    margin: 30px 40px;
}

.conceptoAvaluos div div{
    width: 100%;
    margin: 40px 10px 0 0;
}
.conceptoAvaluos div div img{
    margin: auto;
    display: block;
    border: 5px solid #C8C1C1;
    box-sizing: border-box;
    max-width: 400px;
}
/* cobertursa */
.coberturaSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 100px 11px;
}
.coberturaSection div{
    margin-top: 35px;
}

/* ----------- PAG CONTACTOS ----------- */
/* MAIN */
/* contactos */
.contactanosContenedor{
    /* background-color: var(--colorDiv); */
    margin: 100px;
    padding: 30px;
}
.contactanosContenedor h2{
    border-left: 1px solid rgba(113, 111, 111, 0.45);
    padding-left: 5px;
}
.contactanosContenedor div{
    display: flex;
    align-items: center;
    margin: 45px 0 0 30px;
}
.contactanosContenedor div ul{
    list-style: none;
    border-bottom: 1px solid rgba(113, 111, 111, 0.45);
}
.contactanosContenedor div ul li{
    margin-bottom: 20px;
}
.contactanosContenedor div img{
    width: 49%;
    margin-left: 20px;
}
/* whassap contenedor */
.whassapContenedor{
    background-color: var(--color2);
    border-radius: 39px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 600px;
    margin: 20px auto 170px;
    padding: 20px 0;
}
.whassapContenedor form{
    width: 82%;
    margin: 20px 0;
}
.whassapContenedor form input, textarea{
    display: block;
    margin-bottom: 10px;
    background-color: var(--colorDiv);
    border-radius: 17px;
    border: none;
    padding: 10px 0 10px 10px;
    width: 100%;
    font-size: var(--fontSize-p2);
    font-weight: var(--fontWeight-p1-p2);
}
.whassapContenedor form textarea{
    overflow: hidden;
    resize: vertical;
}
.whassapContenedor form input::placeholder, textarea::placeholder{
    color: var(--color2);
    opacity: 1;
}
.whassapContenedor form input:focus, textarea:focus{
    border: none;
    outline: 3.3px solid rgba(255, 255, 255, 0.226);
}
.whassapContenedor button.boton{
    font-size: var(--fontSize-p1);
    font-weight: var(--fontWeight-p);
    margin: 32px auto 0px;
    display: block;
}


/* situaciones perito */
.situacionesPerito{
    margin: 110px 80px 80px;
}
.situacionesPerito div{
    margin-top: 40px;
    margin-left: 10px;
}
.situacionesPerito div h3{
    color: var(--color3);
    /* cursor: pointer; */
}
.situacionesPerito div p{
    margin-left: 10px;
    
}

/* sabias que */
.sabiasQue{
    display: flex;
    flex-direction: column;
}
.sabiasQue div h2{
    text-align: center;
    border-bottom: solid 5px rgba(59, 56, 56, 0.363);
}
.sabiasQue div p{
    text-align: justify;
    margin-top: 10px;
}
.sabiasQue div ul{
    text-align: justify;
    margin-top: 10px;
    margin-left: 22px;
}


/* Procedimiento para la valoracion */
.procedimientoValoracion{
    margin: 200px 80px 160px;
}
.procedimientoValoracion ol.p{
    text-align: justify;
}
.procedimientoValoracion ol, .procedimientoValoracion ul{
    margin: 0 0 0 28px;
}
.procedimientoValoracion ol li{
    margin: 20px 0;
}
.procedimientoValoracion ul li{
    margin: 10px;
}



/* ocultar y mostrar contenido */
.ocultarContenido{
    visibility: hidden;
    max-height: 1px;
    overflow: hidden;
}
.mostrarContenido{
    overflow: hidden;
    transition-property: max-height,;
    transition-duration: 2s;
    transition-timing-function: linear;
    visibility: visible;
    max-height: 1000px;
}
.mostrarCursor{
    cursor: pointer;
    user-select: none;
}
